*{
    margin: 0; 
    padding: 0; 
    box-sizing: 
    border-box;
}

body { 
    font-family: Arial, sans-serif; 
}

header {
     width: 100%; 
     background: #fff; 
     box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    }


html{
    scroll-behavior: smooth;
}




.navbar{

    
    display: flex; 
    justify-content: 
    space-between; 
    align-items: center; 
    padding: 20px; 
    

}

.navbar ul {
     display: flex;
     gap: 20px; 
     list-style: none;
 }
        
 .navbar a {
     text-decoration: none; 
     font-weight: bold; 
}



#h1{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    font-size: 42px;
    margin-left: 55px;
    color: rgb(0, 0, 0);
}




header{

    height: 800px;
    background: radial-gradient(#fff,#ffd6d6);
    
    
    
}



.div2{

  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
  padding: 40px;
}

.div3 { 
    flex: 1; 
    min-width: 250px; 
}



.div3 h1{
     margin-left: 0;
    margin-top: 0;
    font-size: 70px;
    text-align: center;
}

.div3 h2{

     margin-top: 24px;
    margin-left: 0;
    font-size: 40px;
    text-align: center;
    
}

.div3 p{

   
     width: 420px;
    margin: 20px auto 0 auto;
    text-align: center
}



.div4 img{

  width: 100%; 
  max-width: 400px;

}






#pr{

    text-align: center;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;

}

#pr0{

display: grid; 
justify-content: center; 
gap: 25px; 
padding: 20px;
width: 90%;
margin: auto;
grid-template-columns: repeat(4, 1fr);
 

}




.pr1{

width: 100%; 
padding: 20px; 
border-radius: 10px; 
background: #f7f7f7; 
text-align: center;
   
}

 .pr1 img { 
    width: 150px; 
    height: auto; 
}


#sponsor{

    margin-top: 50px;
    padding: 10px 0; 
    background: radial-gradient(#fff,#ffd6d6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

#sponsor img{

    height: 150px;
}



footer { 
    background: #000; 
    color: white; 
    padding: 40px; 
    text-align: center; 
}



 /* RESPONSIVE */
        @media (max-width: 900px) {
            .navbar ul {
                 flex-wrap: wrap; 
                 justify-content: center; 
                }
            .div2 {
                 text-align: center; 
                }
            .div4 img {
                 margin: auto;
                 }

            #sponsor img{
                height: 120px;
            }
                 
        }

        @media (max-width: 600px) {
            .navbar {
                 flex-direction: column; 
                 gap: 15px; 
                }

            #pr0{
                grid-template-columns: 1fr;
            }

             #sponsor img{
                height: 90px;
                gap: 20px;
            }
            
           
        }


