body {
    margin: 0;
    padding: 0;
    background: radial-gradient(#fff,#ffd6d6);
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 300px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 93%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    background: #008CBA;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #00729a;
}

.error {
    color: red;
    font-size: 13px;
    display: none;
    margin: 0;
    margin-bottom: 10px;
}

.success {
    color: green;
    font-size: 14px;
    display: none;
    text-align: center;
    margin-top: 10px;
}

.small{
    font-size:12px;
    color:#64748b;
    margin-top:8px;
    text-align:center
}

@media (max-width:360px){
    .card{
        width:92%
    }
}