*{
    margin: 0; 
    padding: 0; 
    box-sizing: 
    border-box;
}

body { 
    font-family: Arial, sans-serif; 
}

header {
     width: 100%; 
     box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
     background: radial-gradient(#fff,#ffd6d6);
    
    }


html{
    scroll-behavior: smooth;
}




.navbar{

    
    display: flex; 
    justify-content: 
    space-between; 
    align-items: center; 
    padding: 20px; 
    

}

.navbar ul {
     display: flex;
     gap: 20px; 
     list-style: none;
 }
        
 .navbar a {
     text-decoration: none; 
     font-weight: bold; 
}



#h1{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    font-size: 42px;
    margin-left: 55px;
    color: rgb(0, 0, 0);
}







#pr{

    text-align: center;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;

}

#pr0{

display: grid; 
justify-content: center; 
gap: 25px; 
padding: 20px;
width: 90%;
margin: auto;
grid-template-columns: repeat(4, 1fr);
 

}




.pr1{

width: 100%; 
padding: 20px; 
border-radius: 10px; 
background: #f7f7f7; 
text-align: center;
   
}

 .pr1 img { 
    width: 150px; 
    height: auto; 
}

footer { 
    background: #000; 
    color: white; 
    padding: 40px; 
    text-align: center; 
}


  @media (max-width: 900px) {
            .navbar ul {
                 flex-wrap: wrap; 
                 justify-content: center; 
                }
      
        }

        @media (max-width: 600px) {
            .navbar {
                 flex-direction: column; 
                 gap: 15px; 
                }

            #pr0{
                grid-template-columns: 1fr;
            }
            
           
        }
